body{
    width: 99%;
    
}

.body-size{
    height: 600px;
}

.text-center{
    text-align: center;
}
.header-background{    
    background: #00C400;
}

.header-time{
    background:#C5FFFB;
    border-radius: 15px;
    padding: 5px;
    font-size: x-large;
}

.bold{
    font-weight: bolder;
}

.footer{
    background: #00C400;
    height: 100%;
    width: 100%;
    padding: 5px;
}

.font-footer{
    color:whitesmoke;
    font-size: medium;
}

.header{    
    width: 100%;
    height: 80px;
    border: 15px solid white ;
    padding: 10px;
    /* margin: 30px;    */
    /* background: #3DF382; */
}
.top-header{
    height: 30px;
    text-align: left;
}

.main-padding{
    padding: 5px;
    width: 150px;
    height: 90px;
    
}

.breting{
    animation: breting;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    /* animation-direction: alternate; */
}

@keyframes breting{ 
    from{opacity: 0;}    
    to{text-opacity: 1;}
}

.font-xlarge{
    font-size: x-large;
}

.font-xxlarge{
    font-size: xx-large;
}

.head-font {
    color:whitesmoke;
    font-size: xx-large;
    text-align: center; 
}

.container{
    align-content: center;
    width:100%;
    /* border: 1px solid black ; */
    /* padding: 30px;  */
}

.font-color-hardgreen{
    color:#003D1D;
}
.color-blue{
    background: #9AD4FF;
}

.border{
    border:5px solid #154C16;
    border-radius: 10px;
    padding: 10px;
}

.padding{
    padding: 15px;
}

.border-bottom{
    border-bottom: 5px solid #154C16;
}

.border-bottom-list{
    border-bottom: 3px solid #154C16;
}

a:link{
    color: black;
}

.border-close{
    border: 3px dotted red;
    padding: 4px;
}




input{
    width: 300px;
    padding: 10px;
    border-radius: 15px;
    background-color: #EBFFF5;
}

input[type = number]{
    width: 100px;
    
}


input[type = text].score{
    width: 20px;
    
}

input[type = date]{
    width: 120px;   
}

input[type = submit]{
    background-color:#197005;
    font-size: large;
    color:whitesmoke;
}

button{
    width: 100px;
    padding: 5px;
    border-radius: 15px;
    background-color: #92D5E8;
    font-size: medium;
}

input.login{
    width: 90px;
    padding: 5px;
    border-radius: 15px;
    background-color: #197005;
    font-size: medium;
}

select{
    width: 300px;
    padding: 10px;
    border-radius: 15px;
    background-color: #EBFFF5;
}