
.web-breting {
    animation: breting;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    /* animation-direction: alternate; */
}

@keyframes breting {
    from {
        opacity: 0;
    }
    to {
        text-opacity: 1;
    }
}

a {
    color: whitesmoke;
}
a:link {
    color: white;
}
a:hover {
    color: white;
}



input[type = submit]{
    width: 300px;
}

input[type = submit].submit{
    width: 110px;
}

input[type =password] {
    padding: 10px;
    border-radius: 15px;
    background-color: #EBFFF5;
}

input[type=number] {
    width: 100px;
}

input[type=text].score {
    width: 20px;
}

input[type=date] {
    width: 120px;
}

button {
    width: 100px;
    padding: 5px;
    border-radius: 15px;
    background-color: #92D5E8;
    font-size: medium;
}

input.login {
    width: 90px;
    padding: 5px;
    border-radius: 15px;
    background-color: #197005;
    font-size: medium;
}

.web-border {
    border: 5px solid #154C16;
    border-radius: 10px;
    padding: 10px;
}


select {
    width: 300px;
    padding: 10px;
    border-radius: 15px;
    background-color: #EBFFF5;
}

.web-header{
    border: 15px solid white;
}
.web-footer{
    border: 10px solid white;
}

.web-border-bottom {
    border-bottom: 5px solid #154C16;
}

.web-input{
    border-radius: 15px;
    background-color: #EBFFF5;
}